{{define "footer.tmpl"}}    
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>An example go playing, <strong><a href="https://github.com/ssmuch/pandora">Star Me </a></strong> if you like it!</p>
      </div>
    </footer>

  </body>
</html>
{{end}}