{{ define "subject.tmpl" }}
{{ template "header.tmpl" }}
<p class="text-center"> {{ .Subject.Title }} </p>
{{ range $i, $img := .Images }}
    <div class="card mb-3">
        <img class="card-img-top" src="{{$img.ImagePath}}" alt="$img.Title">
    </div>
{{ end}}
{{template "footer.tmpl" .}}
{{end}}